apiVersion: v1
kind: ConfigMap
metadata:
  name: neutron-api
  namespace: openstack
data:
  kolla-config.json: |
    {
      "command": "/usr/bin/neutron-server --config-file /usr/share/neutron/neutron-dist.conf --config-file /etc/neutron/neutron.conf",
      "config_files": [
        {
          "source": "/var/lib/config-data/neutron.conf",
          "dest": "/etc/neutron/neutron.conf",
          "owner": "root",
          "perm": "0644"
        },
        {
          "source": "/var/lib/config-data/logging.conf",
          "dest": "/etc/neutron/logging.conf",
          "owner": "root",
          "perm": "0644"
        }
      ]
    }
  logging.conf: |
    [loggers]
    keys=root

    [handlers]
    keys=stdout

    [formatters]
    keys=normal


    ###########
    # Loggers #
    ###########

    [logger_root]
    level=WARNING
    handlers=stdout

    ################
    # Log Handlers #
    ################

    [handler_stdout]
    class=StreamHandler
    level=WARNING
    formatter=normal
    args=(sys.stdout,)

    ##################
    # Log Formatters #
    ##################

    [formatter_normal]
    format=(%(name)s): %(asctime)s %(levelname)s %(message)s
  neutron.conf: |
    [DEFAULT]
    log_config_append=/etc/neutron/logging.conf
    transport_url = amqp://osp:passw0rd@amq-interconnect.openstack.svc:5672
    auth_strategy = keystone
    
    core_plugin = neutron.plugins.ml2.plugin.Ml2Plugin
    service_plugins = networking_ovn.l3.l3_ovn.OVNL3RouterPlugin
    allow_overlapping_ips = true
    
    notify_nova_on_port_status_changes = true
    notify_nova_on_port_data_changes = true
    
    [database]
    connection = mysql+pymysql://neutron:password@mariadb.openstack.svc/neutron 
    
    [ml2]
    mechanism_drivers = ovn
    type_drivers = local,flat,vlan,geneve
    tenant_network_types = geneve
    extension_drivers = port_security
    overlay_ip_version = 4
    
    [ml2_type_geneve]
    vni_ranges = 1:65536
    max_header_size = 38
    
    [securitygroup]
    enable_security_group = true
    
    [ovn]
    ovn_nb_connection = {{ ovn_nb_connection }}
    ovn_sb_connection = {{ ovn_sb_connection }}
    #ovn_nb_connection = tcp:ovn-ovsdb-0.openstack.svc:6641,tcp:ovn-ovsdb-1.openstack.svc:6641,tcp:ovn-ovsdb-2.openstack.svc:6641
    #ovn_sb_connection = tcp:ovn-ovsdb-0.openstack.svc:6642,tcp:ovn-ovsdb-1.openstack.svc:6642,tcp:ovn-ovsdb-2.openstack.svc:6642
    ovn_l3_scheduler = leastloaded
    
    [keystone_authtoken]
    www_authenticate_uri = http://keystone-openstack.apps.ostest.test.metalkube.org/
    auth_url = http://keystone.openstack.svc:5000/
    # XXX(mdbooth): Add memcached
    #memcached_servers = controller:11211
    auth_type = password
    project_domain_name = Default
    user_domain_name = Default
    project_name = service
    username = neutron
    password = foobar123
    
    [nova]
    auth_url = http://keystone.openstack.svc:5000/
    auth_type = password
    project_domain_name = Default
    user_domain_name = default
    region_name = regionOne
    username = nova
    password = password
    
    [oslo_concurrency]
    lock_path = /var/lib/neutron/tmp
