apiVersion: v1
kind: PersistentVolume
metadata:
  name: openshift-image-registry-pv
spec:
  capacity:
    storage: 100Gi 
  accessModes:
  - ReadWriteMany 
  nfs: 
    path: /home/nfs/pv/openshift-image-registry
    server: {{ ansible_fqdn }}
  persistentVolumeReclaimPolicy: Retain 
  storageClassName: openshift-image-registry-sc
