apiVersion: v1
kind: Secret
metadata:
  name: osp-secrets
  namespace: openstack
data:
  RabbitTransportURL: {{ transport_url }}
  NovaPassword: {{ nova_password }}
  CinderPassword: {{ cinder_password }}
  NeutronPassword: {{ neutron_password }}
  PlacementPassword: {{ placement_password }}
