apiVersion: v1
kind: ConfigMap
metadata:
  name: tripleo-deploy-config
data:
{% macro include_yaml(name) %}{% include name %}{% endmacro %}
  hostnamemap.yaml: |
{{ include_yaml('files/osp/hostnamemap.yaml') | indent(first=true) }}
  roles-data.yaml: |
{{ include_yaml('files/osp/roles-data.yaml') | indent(first=true) }}
  network-environment.yaml: |
{{ include_yaml('files/osp/network-environment.yaml') | indent(first=true) }}
  deployed-server-port-map.yaml: |
{{ include_yaml('files/osp/deployed-server-port-map.yaml') | indent(first=true) }}
  passwords.yaml: |
{{ include_yaml('files/osp/passwords.yaml') | indent(first=true) }}
  stack-action-create.yaml: |
{{ include_yaml('files/osp/stack-action-create.yaml') | indent(first=true) }}
  deploy-identifier.yaml: |
{{ include_yaml('files/osp/deploy-identifier.yaml') | indent(first=true) }}
  role-counts.yaml: |
{{ include_yaml('files/osp/role-counts.yaml') | indent(first=true) }}
  root-stack-name.yaml: |
{{ include_yaml('files/osp/root-stack-name.yaml') | indent(first=true) }}
  glance-backend-nfs.yaml: |
{{ include_yaml('templates/osp/glance-backend-nfs.yaml.j2') | indent(first=true) }}
  custom.yaml: |
{{ include_yaml('templates/osp/custom.yaml.j2') | indent(first=true) }}
  containers-prepare-parameter.yaml: |
{{ include_yaml('containers-prepare-parameter.yaml.j2') | indent(first=true) }}
  software-config-transport.yaml: |
{{ include_yaml('files/osp/software-config-transport.yaml') | indent(first=true) }}
