parameter_defaults:
  ControllerCount: {{ osp_controller_scale | default(1, true) }}
  CloudDomain: {{ ocp_cluster_name }}
{% if osp_network_type == 'ovs' %}
  # ovs settings
  NeutronBridgeMappings: datacentre:br-ex,tenant:br-isolated
  NeutronEnableDVR: 'false'
  NeutronExternalNetworkBridge: ''
  NeutronNetworkType: vxlan
  NeutronNetworkVLANRanges: tenant:1000:2000
  NeutronTunnelTypes: vxlan
  NeutronEnableIsolatedMetadata: 'True'
{% endif %}
  ControllerExtraConfig:
    nova::scheduler::discover_hosts_in_cells_interval: '120'
